* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: Ali;
  src: url(font/PlayfairDisplay-Italic-VariableFont_wght.ttf);
}

body {
  width: 100%;
  background: #121212;
  display: flex;
  flex-wrap: wrap;
  justify-content: end;
  font-family: Ali;

  nav {
    position: fixed;
    background: #000000;
    height: 100vh;
    width: 20%;
    left: 0;

    >img {
      width: 100%;
      height: 200px;
      object-fit: cover
    }

    ul {
      width: 100%;

      li {
        color: white;
        list-style-type: none;
        font-size: 20px;
        text-transform: capitalize;
        cursor: pointer;
        padding: 10px 0;
        transition: .4s;
        margin-left: 10px;

        * {
          padding: 0 20px;
        }

        &:hover {
          color: rgba(255, 0, 0, 0.822);

          * {
            color: rgba(255, 0, 0, 0.781);
          }
        }
      }
    }
  }

  .horizontal {
    width: 80%;
    background: #121212;
    height: 100px;
    border-bottom: 1px solid white;
    display: flex;
    align-items: center;

    >i {
      font-size: 25px;
      color: white;
      margin: 0 15px;
    }

    >.search {
      width: 500px;
      height: 50px;
      border-radius: 20px;
      display: flex;
      align-items: center;
      padding-left: 15px;
      color: white;
      background: #121212;
      border: 1px solid white;
      cursor: pointer;

      * {
        padding: 0 20px;
        text-transform: capitalize;
      }
    }

    >button {
      padding: 15px;
      border-radius: 15px;
      font-size: 15px;
      margin-left: 500px;
      cursor: pointer;
      background: rgba(126, 119, 119, 0.781);
      color: white;
      font-family: Ali;
    }
  }

  >.flex {
    width: 80%;
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    font-size: 20px;
    text-transform: capitalize;
    color: white;

    >figure {
      /* margin-top: 10px; */
      width: 15%;
      height: 200px;
      text-align: center;
      cursor: pointer;
      /* overflow: hidden; */


      >img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 50%;
        transition: .4s;

        &:hover {
          box-shadow: 0 0 20px red;
          scale: 1.1;
        }
      }
    }
  }



  >.tanzimat {
    position: fixed;
    bottom: 0;
    border-radius: 5px;
    width: 100%;
    height: 80px;
    background: #000000;
    display: flex;
    align-items: center;

    >.moshakhasat {
      width: 20%;
      height: 100%;
      display: flex;

      >img {
        width: 40%;
        height: 100%;
      }

      >figcaption {
        width: 60%;
        height: 100%;
        text-align: center;
        color: white;
        margin-top: 10px;
      }
    }

    >.clicks {
      width: 20%;
      height: 100%;
      color: white;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 30px;

      i {
        margin: 0 10px;
        cursor: pointer;

        &:hover {
          color: red;
        }
      }
    }

    >.progress {
      width: 600px;
      height: 10px;
      background: rgb(109, 109, 104);
      border-radius: 10px;
      display: flex;
      align-items: center;
      position: relative;
      cursor: pointer;

      >.progressbar {
        width: 15px;
        height: 15px;
        border-radius: 50%;
        background: skyblue;
        position: absolute;
        z-index: 10;
        left: 0;
      }
    }

    >.timer {
      color: white;
      width: 100px;
      height: 100%;
      /* background: red; */
      display: flex;
      justify-content: center;
      align-items: center;

      * {
        color: white;
        font-size: 20px;
      }

      >span {
        margin: 0 5px;
      }
    }

    .volume-control {
      width: 200px;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
      margin-left: 20px;

      * {
        cursor: pointer;
      }

      >i {
        color: white;
        font-size: 20px;
        position: absolute;
        left: 0;

        &:nth-of-type(1) {
          /* turn on */
          z-index: -1;

        }

        &:nth-of-type(2) {
          /* mute */

        }
      }

      >input[type="range"] {
        -webkit-appearance: none;
        background: rgb(109, 109, 104);
        border-radius: 10px;
        height: 10px;
      }
    }
  }

  >.profile{
    position: absolute;
    width: 300px;
    right: 200px;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    >.edit{
      width: 100%;
    }
  }

  /* ---------------profile----------------- */
  >.box {
    width: 150px;
    height: 150px;
    position: fixed;
    left: 20px;
    bottom: 100px;
    z-index: 10;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;

    &:hover {
      >img {
        filter: blur(5px);
      }

      >a {
        filter: none;
        opacity: 1;
      }
    }

    >img {
      width: 100%;
      height: 100%;
      object-fit: cover;

    }

    >a {
      position: absolute;
      text-decoration: none;
      transition: .4s;
      display: flex;
      scale: .5;
      opacity: 0;

      &:nth-of-type(1) {
        left: 20px;

      }

      &:nth-of-type(3) {
        right: 20px;
      }


    }
  }


  /* ---------------------------------------------------- */

}

h4 {
  opacity: 0;
  transition: all 1s linear;
  transform: translatex(100px);
  display: inline;
  color: white;
}

h4.fade {
  opacity: 1;
  transform: translatex(0px);
  font-family: Font;
  /* font-size: 20px; */
  color: orangered;
}
